html {
    background: url(image.jpeg) top center;
background-size: cover;
overflow: hidden;
}
.projectname {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  color: orchid;
  font-family: 'Ruge Boogie', cursive;
}


.keys {
    display: flex;
    min-height: 90vh;
    
    justify-content: center;
  }

.key {
    transition: all 0.07s ease;
    border-radius: .5rem;
    font-size: 2.0rem;
    padding: 1rem 0.5rem;


  
    width: 10rem;
    text-align: center;
    color: white;
    background: white;
    
    margin: 3rem;

  }

kbd {
  font-size: 5rem;
  color: black;
}

